.idea
Drives/migrations
Clients/migrations
Users/migrations
db.sqlite3
Clients/__pycache__/__init__.cpython-35.pyc
Clients/__pycache__/admin.cpython-35.pyc
Clients/__pycache__/models.cpython-35.pyc
Clients/api/__pycache__/__init__.cpython-35.pyc
Clients/api/__pycache__/serializers.cpython-35.pyc
Clients/api/__pycache__/urls.cpython-35.pyc
Clients/api/__pycache__/views.cpython-35.pyc
Drives/__pycache__/__init__.cpython-35.pyc
Drives/__pycache__/admin.cpython-35.pyc
Drives/__pycache__/models.cpython-35.pyc
Drives/api/__pycache__/__init__.cpython-35.pyc
Drives/api/__pycache__/serializers.cpython-35.pyc
Drives/api/__pycache__/urls.cpython-35.pyc
Drives/api/__pycache__/views.cpython-35.pyc
EstouAqui/__pycache__/__init__.cpython-35.pyc
EstouAqui/__pycache__/settings.cpython-35.pyc
EstouAqui/__pycache__/urls.cpython-35.pyc
EstouAqui/__pycache__/wsgi.cpython-35.pyc
Users/__pycache__/__init__.cpython-35.pyc
Users/__pycache__/urls.cpython-35.pyc
